@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Azeret Mono", monospace;
}

/* nav styles */
.nav-container {
  width: 1200px;
  margin: 10px auto;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.nav-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  background-color: white;
  opacity: 0.8;
}

/* banner styles */
.banner-container {
  margin-top: 35px;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 660px;
  text-align: center;
}
.banner-content h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 43px;
}
.banner-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.banner-content button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  padding: 21px 24px 21px 24px;
  background: rgb(13, 19, 33);
  cursor: pointer;
}

/* Why Web Development?? */
.web-development-container {
  height: 1300px;
  width: 1200px;
  margin: 74px auto;
  background-color: rgba(13, 19, 33, 0.02);
}

.web-development-content h1 {
  color: rgb(13, 19, 33);
  padding-top: 80px;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.web-development-content p {
  color: rgb(13, 19, 33);
  width: 852px;
  margin: 24px auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.web-development-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 48px auto;
  margin-top: 48px;
  width: 946px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.web-development-item-description {
  width: 477px;
}
.web-development-item-description h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.web-development-item-description p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.web-development-item-description button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  margin-top: 22px;
  background-color: white;
}

/* My Inspiration */
.inspiration-container {
  width: 1200px;
  margin: 88px auto;
}
.inspiration-content {
  text-align: center;
}
.inspiration-content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.banner-content {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.online-video {
  margin-top: 48px;
}
/* current target styles */
.current-target-container {
  width: 1200px;
  margin: 182px auto;
}
.current-target-content {
  text-align: center;
}
.current-target-contenth1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.current-target-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
  margin-bottom: 48px;
}
.current-target-items {
  display: flex;
  gap: 20px;
}
.item-one {
  background-color: rgba(255, 76, 30, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.item-one h1 {
  margin-top: 18px;
}
.item-one p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.item-two {
  background-color: rgba(0, 76, 232, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.item-two h1 {
  margin-top: 18px;
}
.item-two p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.item-three {
  background-color: rgba(255, 223, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.item-three h1 {
  margin-top: 18px;
}
.item-three p {
  margin-top: 8px;
  margin-bottom: 24px;
}
